.table {
    border-collapse: collapse;
  }

  .table td,
  .table th {
    border: none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
